<%   var arr = []; %>
<%  for (i in length) {%>
<%  arr.push(length[i]);%>
<% }%>
<% console.log(arr.sort(function(a, b){return b - a})); %>
<div class="table-container"/>
<%for(i=0; i<arr.length;i++){%>
<div> <%= arr[i] %> Letters:</div>
<table class="sortable links" id="test" bgcolor="#fcf7f2">
    <thead>
    <tr>
        <th> Word</th>
        <th> Points</th>
    </tr>
    </thead>
    <% for( j in words){ %>
    <% if(words[j].length == arr[i]){ %>
    <tr>
        <td style="color:#0000ee; text-transform:lowercase; text-align: left">
            <a href="https://www.thefreedictionary.com/<%= words[j] %>" target="_blank"
               rel="nofollow noreferrer"> <%= words[j] %></a>
        </td>
        <td style="color:#f77707; text-transform:lowercase; text-align: center;">
            <%= points[j] %>
        </td>
    </tr>
    <% } %>
    <% } %>
</table>
<%}%>




